<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kodstugan</title>
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/vue-router/vue-router.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/assets/js/app.components.js" defer></script>
  <script src="/assets/js/app.router.js" defer></script>
  <script src="/assets/js/app.methods.js" defer></script>
  <script src="/assets/js/app.created.js" defer></script>
  <script src="/assets/js/app.data.js" defer></script>
  <script src="/assets/js/app.js" defer></script>
</head>
<body>
<div id="app">
  <router-view class="left-column" name="left_column"></router-view>
  <router-view class="full-column" name="full_column"></router-view>
  <router-view class="right-column" name="right_column"></router-view>
</div>
</body>
</html>